<p>Thanks for signing up! We will let you know when we have something cool for you to test.</p>
<p>In the meantime, you can follow us on <%= link_to 'Facebook', 'https://www.facebook.com/dontworryapp' %> & 
<%= link_to 'Twitter', 'https://twitter.com/dontworryapp' %></p>